@mixin for-size($size) {
  @if $size == phone {
    @media screen and (min-width: 321px) {
      @content;
    }
  } @else if $size == phone-large {
    @media screen and (min-width: 376px) {
      @content;
    }
  } @else if $size == tablet {
    @media screen and (min-width: 426px) {
      @content;
    }
  } @else if $size == desktop {
    @media screen and (min-width: 769px) {
      @content;
    }
  } @else if $size == desktop-mid {
    @media screen and (min-width: 1025px) {
      @content;
    }
  } @else if $size == desktop-big {
    @media screen and (min-width: 1441px) {
      @content;
    }
  }
}
@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: ($columns);
  grid-gap: ($gap);
}
@mixin text($size, $weight, $line-height) {
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  text-align: center;
  color: #FFFFFF;
}