@import "./Mixins";

/* General styles */
* {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

input,
select,
textarea,
button {
  background-color: transparent;
  border: 0;
}
button {
  cursor: pointer;
  transition: all 0.1s linear;
}
button:active {
  transform: translateY(4px);
}